<div style="display:flex;flex-direction:row;">
  <button (click)="newPlayer()">NEW</button>
  <button (click)="newPlan()">SPIELPLAN RESET</button>
  <button (click)="savePlan()">SAVE ALL</button>
  <button (click)="loadPlan()">LOAD ALL</button>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Team</th>
    <th>Aktiv?</th>
    <th></th>
  </tr>
  <tr *ngFor="let spieler of getSpieler()">
    <td><input [(ngModel)]="spieler.name" (change)="update()" /></td>
    <td>{{ spieler.id }}</td>
    <td>
      <app-badge [player1]="spieler"></app-badge>
    </td>
    <td><input type="checkbox" [(ngModel)]="spieler.active" /></td>
    <td>
      <button (click)="deletePlayer(spieler)">DELETE</button>
    </td>
  </tr>
</table>
