<div style="display:flex;flex-direction:row;">
  <button (click)="newPlayer()">NEW</button>
  <button (click)="newPlan()">SPIELPLAN RESET</button>
  <button (click)="savePlan()">SAVE ALL</button>
  <select [(ngModel)]="savegame">
    <option *ngFor="let sg of SAVEGAMES">{{ sg }}</option>
  </select>
  <button (click)="loadPlan()">LOAD</button>
  <button (click)="byClub = !byClub">Sortierung</button>
</div>
<table>
  <tr>
    <th>Übersicht</th>
    <th>Name</th>
    <th>Team</th>
    <th>Aktiv?</th>
    <th></th>
  </tr>

  <tr *ngFor="let spieler of getSpieler()">
    <td>
      <app-badge [player1]="spieler"></app-badge>
    </td>
    <td style="display: flex; flex-direction: column;">
      <input [(ngModel)]="spieler.name" (change)="update()" />
    </td>
    <span>{{ spieler.id }}</span>
    <td>
      <select [(ngModel)]="spieler.team">
        <option *ngFor="let t of getTeams()" [ngValue]="t">
          {{ t.name }}
        </option>
      </select>
    </td>
    <td><input type="checkbox" [(ngModel)]="spieler.active" /></td>
    <td>
      <button (click)="deletePlayer(spieler)">DELETE</button>
    </td>
  </tr>
</table>
