:host {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
}

table {
  width: 100%;
}

.running {
  -webkit-animation: blink 2s linear infinite;
  -moz-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
  height: 140px;
}
@keyframes blink {
  0% {
    background-color: #ffd700;
  }
  49% {
    background-color: #ffd700;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ffff00;
  }
  100% {
    background-color: transparent;
  }
}

.score {
  width: 100%;
  min-width: 200px;
}

.scorebutton {
  width: 10vh;
  background-color: #f5f5dc;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid black;
  min-height: 10vh;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal * {
  margin-top: 5vh;
}

.modal span {
  font-size: 3rem;
}

table {
  table-layout: fixed;
}
