<table>
  <tr>
    <th>Team</th>
    <th>Leben</th>
    <th></th>
  </tr>
  <tr *ngFor="let team of getTeams()">
    <td>{{ team.name }}</td>
    <td>❤️</td>
  </tr>
</table>

<table>
  <tr>
    <th>Läuft?</th>
    <th>Disziplin</th>
    <th>Heim</th>
    <th>Gast</th>
    <th>Ergebnis</th>
  </tr>

  <tr *ngFor="let match of getMatches(false)">
    <td><input type="checkbox" [(ngModel)]="match.running" /></td>
    <td><app-badge [game]="match.game"></app-badge></td>
    <td>
      <app-badge
        [player1]="match.playerHome1"
        [player2]="match.playerHome2"
      ></app-badge>
    </td>
    <td>
      <app-badge
        [player1]="match.playerAway1"
        [player2]="match.playerAway2"
      ></app-badge>
    </td>
    <td></td>
  </tr>
</table>
