<table>
  <tr>
    <th>Team</th>
    <th>Leben</th>
    <th></th>
  </tr>
  <tr *ngFor="let team of getTeams()">
    <td>{{ team.name }}</td>
    <td>❤️</td>
  </tr>
</table>

<table>
  <tr>
    <th>Disziplin</th>
    <th>Heim</th>
    <th>Gast</th>
    <th>Ergebnis</th>
  </tr>

  <tr *ngFor="let match of getMatches()">
    <td><app-badge [game]="match.game"></app-badge></td>
    <td><app-badge [player]="match.playerHome1"></app-badge></td>
    <td><app-badge [player]="match.playerAway1"></app-badge></td>
    <td></td>
  </tr>
</table>
