<div
  *ngIf="player1 || team"
  class="badge"
  [style.backgroundColor]="team?.color1"
  [style.color]="team?.color2"
>
  <div class="title">
    <span
      *ngIf="editingPlayer != 1"
      (click)="editingPlayer = allowChange ? 1 : 0"
      >{{ player1?.name }}</span
    >
    <div *ngIf="editingPlayer == 1">
      <select [(ngModel)]="player1" (change)="changePlayer1($event)">
        <option [ngValue]="null"></option>
        <option *ngFor="let p of getPlayers(player1.team)" [ngValue]="p">
          {{ p.name }}
        </option>
      </select>
    </div>
    <span
      *ngIf="editingPlayer != 2 && player2"
      (click)="editingPlayer = allowChange ? 2 : 0"
    >
      & {{ player2.name }}</span
    >
    <div *ngIf="editingPlayer == 2">
      <select [(ngModel)]="player2" (change)="changePlayer2($event)">
        <option [ngValue]="null"></option>
        <option *ngFor="let p of getPlayers(player2.team)" [ngValue]="p">
          {{ p.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="subtitle" [ngClass]="player1 ? '' : 'title'">
    {{ team?.name }}
  </div>
</div>

<div *ngIf="game != undefined" class="badge sport" [ngClass]="'sport' + game">
  <!-- SACKEN-->
  <img
    *ngIf="game == 0"
    src="https://static.thenounproject.com/png/59809-200.png"
  />
  <!-- KICKERN-->
  <img
    *ngIf="game == 1"
    src="https://cdn-icons-png.flaticon.com/512/497/497126.png"
  />
  <!-- KICKERN-->
  <img
    *ngIf="game == 2"
    src="https://image.spreadshirtmedia.net/image-server/v1/designs/16048513,width=178,height=178.png"
  />
  <!-- FIFA-->
  <img
    *ngIf="game == 3"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/EA_Sports_monochrome_logo.svg/1200px-EA_Sports_monochrome_logo.svg.png"
  />
  <!-- MARIOKART-->
  <img
    *ngIf="game == 4"
    src="https://www.nicepng.com/png/full/306-3068987_super-smash-bros-mario-kart-icon-png.png"
  />
  <!-- LOOPING LOUIE-->
  <img *ngIf="game == 5" src="" />
  {{ gameTitle() }}
</div>
