.badge {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 50px;
}

.team {
  font-size: 0.8rem;
}

.onlyteam {
  font-size: 2rem;
}

.player {
  font-size: 1.5rem;
  font-weight: bold;
}

.sport {
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.sport0 {
  /* SACKEN */
  color: black;
  background-color: #faebd7;
  border: 2px solid black;
}

.sport1 {
  background-color: #ffa500;
}

.sport2 {
  background-color: #ff7f50;
}

.sport3 {
  /* FIFA */
  background-color: #ff7f50;
  color: black;
  border: 2px solid black;
}

.sport4 {
  background-color: #ffd7;
}

.sport5 {
  background-color: #ffd700;
}
