.badge {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 10vh;
  cursor: pointer;
}

.subtitle {
  font-size: 0.8rem;
}

.title {
  font-size: 3vh;
  font-weight: bold;
}

.sport {
  font-weight: bold;
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.sport img {
  width: 80px;
}

.sport0 {
  /* SACKEN */
  color: black;
  background-color: #afeeee;
  border: 2px solid black;
}

.sport1 {
  /* KICKERN */
  color: black;
  background-color: #eeeeee;
  border: 2px solid black;
}

.sport2 {
  /* TIPPKICK */
  color: black;
  background-color: #a0db8e;
  border: 2px solid black;
}

.sport3 {
  /* FIFA */
  background-color: #ff7f50;
  color: black;
  border: 2px solid black;
}

.sport4 {
  /*  */
  color: black;
  background-color: #fff68f;
  border: 2px solid black;
}

.sport5 {
  /*  */
  color: black;
  background-color: #fff68f;
  border: 2px solid black;
}
