body {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}

td {
  padding: 5px;
  background-color: white;
  color: black;
}

th {
  padding: 5px;
  color: white;
  text-align: left;
}

th {
  background-color: #55608f;
}

button {
  color: white;
  background-color: #55608f;
  padding: 5px;
  border-radius: 11%;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-right: 5px;
}

a {
  margin: 3px;
}
